.attendance-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-container {
  flex: 1;
  margin-right: 20px;
}

.right-container {
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.custom-file-upload {
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}

.upload-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #0056b3;
}

.upload-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.upload-text {
  font-size: 16px;
}

.blurred {
  filter: blur(5px);
}

.custom-file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background: #2196F3;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

.left-container {
  position: relative;
}

.blurred table {
  filter: blur(5px);
}

.custom-file-upload {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

.background-image {
  background-image: url('C:\Users\admin\attendance-management\src\img\background-att.gif'); /* Replace 'path_to_your_image.jpg' with the path to your background image */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attendance-container {
  display: flex;
  width: 100%;
}

.left-container {
  flex: 1;
  padding: 20px;
  margin-top: 5px;
}

.right-container {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.book-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.book-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}